.score-wrapper
    display: flex
    flex-direction: column
    background-color: #f5f6fa
    align-items: center
    justify-content: flex-start
    min-height: 100vh

.title-box
    background-color: #0c2461
    width: 100%
    color: #f5f6fa
    text-align: center

.title-box h1
    font-weight: lighter
    font-size: 40px
    letter-spacing: 2px

.title-box p
    margin-top: 0
    margin-right: 10px
    text-align: end

.result-box
    display: flex
    flex-direction: column
    align-items: center
    width: 700px
    margin: 10px
    font-size: 20px

.flex
    display: flex
    justify-content: space-evenly
    width: 100%

.flex p
    margin: 0
    padding: 5px

.sets
    font-weight: bold
    color: #b71540
    border: solid 1px #b71540

.points
    font-weight: bold
    color: #0c2461
    border: solid 1px #0c2461

.pitch-box
    display: flex
    align-items: center
    justify-content: center
    margin: 10px
    width: 70vw
    height: 35vw
    background-color: #fad390

.pitch
    height: 33vw
    width: 33vw
    border: solid 5px #0c2461

.player-box
    height: 50%
    text-align: center

.order-box
    display: flex
    margin: 20px
    align-self: center

.order-text
    display: flex
    flex-direction: column

.order-text p
    margin: 0
    padding-right: 5px

.points-order
    display: flex

i.top
    display: flex
    align-items: flex-start
    color: #0c2461

i.bottom
    display: flex
    align-items: flex-end
    color: #0c2461

@media (max-width: 1250px)
    .player-box
        font-size: 11px
