.score-wrapper
    display: flex
    flex-direction: column
    background-color: #f5f6fa
    align-items: center
    justify-content: space-evenly
    min-height: 100vh

.result-box
    display: flex
    flex-direction: column
    align-items: center
    margin: 10px

.flex
    display: flex

.flex p
    margin: 0
    padding: 5px

.sets
    font-weight: bold
    color: #b71540

.pitch-box
    display: flex
    align-items: center
    justify-content: center
    margin: 10px
    width: 70vw
    height: 35vw
    background-color: #fad390

.pitch
    height: 33vw
    width: 33vw
    border: solid 5px #0c2461

.player-box
    height: 50%
    text-align: center

.order-box
    display: flex
    margin: 20px
    align-self: center

.order-text
    display: flex
    flex-direction: column

.order-text p
    margin: 0
    padding-right: 5px

.points-order
    display: flex

i.top
    display: flex
    align-items: flex-start

i.bottom
    display: flex
    align-items: flex-end
